<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="plantillas/plantilla1 ::head">
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/></head>
    <body>
        <header th:replace="plantillas/plantilla1 ::header"></header>
        <div th:if="${ msg != null and !msg.empty}">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Mensaje:</strong> 
                <p th:text="${msg}"></p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <span th:attr="msg=@{null}"></span>
            </div>
        </div>
        <div class="container mt-3 py-3 bg-light rounded-3">
            <section>
                <div class="container">
                    <div class="card">
                        <div class="card-header d-flex justify-content-around">
                            <h3>Facturacion</h3>
                            <h4 th:text="${#dates.format(factura.fecha,'dd/MM/yyyy')}"></h4>
                        </div>
                        <div class="card-body">
                            <form th:action="@{/guardarFacturar}" method="post" th:object="${factura}">
                                <input type="hidden" name="idVenta" th:field="*{idVenta}" />
                                <div class="row p-1 m-1">
                                    <div class="col-8">
                                        <label for="nombreCliente" class="form-label">Cliente</label>
                                        <input type="hidden" name="idCliente" th:field="*{idCliente}" />
                                        <input required="true" class="form-control" type="text" name="nombreCliente" th:field="*{nombreCliente}" readonly="true" />                                        
                                    </div>  
                                    <div class="col-4">
                                        <label for="tipo" class="form-label">Tipo de venta</label>
                                        <select name="tipo" th:field="*{tipo}" class="form-select" aria-label="Tipos de ventas">
                                            <option th:value="${Credito}" >Credito</option>
                                            <option th:value="${Contado}" th:selected="true">Contado</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row p-1 m-1">
                                    <div class="col-8">
                                        <input type="hidden" name="idProducto" th:field="*{idProducto}" />
                                        <label  for="descripcion" class="form-label">Seleccione un producto</label>
                                        <div class="input-group mb-3">
                                            <a id="btnBuscarProducto" class="btn btn-outline-secondary " data-toggle="modal" data-targer="#modelProductos"><i class="fas fa-search"></i>Buscar producto</a>
                                            <input required="true" id="NombreProducto" type="text" name="descripcion" th:field="*{descripcion}" 
                                                   readonly="true" class="form-control"/>   
                                        </div>

                                    </div>
                                    <div class="col-4">
                                        <label  for="cantidad" class="form-label">Cantidad</label>
                                        <input required="true" type="number" class="form-control" name="cantidad"  value="1" th:field="*{cantidad}">
                                        </input>
                                    </div>
                                </div>
                                <div class="row p-1 m-1">

                                    <div class="col-12">
                                        <button type="submit" name="btnGuardar" value="Agregar producto" class="btn btn-warning mx-auto w-100 ">Agregar producto</button>
                                    </div>

                                </div>
                                <div class="row">
                                    <span class="font-italic text-danger"
                                          th:if="${#fields.hasErrors('nombreCliente')}"  
                                          th:errors="*{nombreCliente}"
                                          >Error</span>
                                    <span class="font-italic text-danger"
                                          th:if="${#fields.hasErrors('descripcion')}"  
                                          th:errors="*{descripcion}"
                                          >Error</span>
                                    <span class="font-italic text-danger"
                                          th:if="${#fields.hasErrors('cantidad')}"  
                                          th:errors="*{cantidad}"
                                          >Error</span>
                                </div>
                            </form>
                        </div>
                        <div class="card-futter">
                            <h4>Detalles de factura</h4>
                            <div th:if="${factura.detalleVenta != null and !factura.detalleVenta.empty}">
                                <table class="table table-striped">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>Codigo</th>
                                            <th>Descripcion</th>
                                            <th>Cantidad</th>
                                            <th>Precio</th>
                                            <th>Sub Total</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="item:${factura.detalleVenta}">
                                            <td th:text="${item.producto.idProducto}"></td>
                                            <td th:text="${item.producto.descripcion}"></td>
                                            <td th:text="${item.cantidad}"></td>
                                            <td th:text="${item.precio}"></td>
                                            <td th:text="${item.cantidad * item*precio}"></td>
                                            <td>
                                                <a th:href="@{/eliminarDetalle(idDetalle=${item.idDetalle})}"><i class="fa-solid fa-circle-minus"></i></a>
                                            </td>

                                        </tr>   
                                    </tbody>
                                </table>
                                <div th:if="${total != null and !total.empty}">
                                    <h4>Total: 
                                        <span th:text=" new java.text.DecimalFormat('#,##0.00').format(total)"  >                                            
                                        </span>                                    
                                    </h4>
                                    <a th:href='@{/pagar/}+ ${factura.idVenta}'
                                       class="btn btn-warning">Pagar</a>
                                </div>
                            </div>
                            <div th:if="${factura.detalleVenta == null or factura.detalleVenta.empty}">
                                <p class="alert alert-warning" role="alert">No hay detalles en esta factura</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- modal -->
            <section>
                <div class="model fade" id="modalProductos" tabindex="-1" role="dialog" 
                     aria-labelledby="productoModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="model-title">Listado de Productos</h5>
                                <button class="close" type="button" data-dismiss="modal"
                                            aria-label="Close"
                                        > <span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <div th:if="${productos != null and !productos.empty}">
                                    <table class="table table-striped">
                                        <thead class="table-dark">
                                            <tr>
                                                <th>Codigo</th>
                                                <th>Descripcion</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="item:${productos}">
                                                <td th:text="${item.idProducto}"></td>
                                                <td th:text="${item.descripcion}"></td>
                                                <td>
                                                    <a href="#" th:onclick="seleccionar([[${item.idProducto}]],[[${item.descripcion}]])">Seleccionar</a>
                                                </td>

                                            </tr>   
                                        </tbody>
                                    </table>

                                </div>
                                <div th:if="${productos == null or productos.empty}">
                                    <p class="alert alert-warning" role="alert">No hay productos</p>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="btnCerrar" type="button" class="btn btn-warning" data-dismiss="modal">
                                    Cerrar
                                </button>
                            </div>
                        </div>
                    </div>


                </div>  <!-- fin modal -->

            </section>



        </div>
    </body>
</html>
