
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head  th:replace="plantillas/plantilla1 ::head">
        <title>Productos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <header th:replace="plantillas/plantilla1 ::header"></header>

        <div class="container-lg">
            <div class="card border-light" style="margin-top: 2%" >
                <div class="card-header"> <h1>Lista de productos</h1></div>
            </div>

            <div th:if="${ productos != null and !productos.empty }" >

                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Descripcion</th>
                            <th>Precio</th>
                            <th>Cantidad en inventario</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="prod:${productos}">
                            <td th:text="${prod.idProducto}"></td>
                            <td th:text="${prod.descripcion}"></td>
                            <td th:text="${prod.precio}"></td>
                            <td th:text="${prod.existencia}"></td>
                        </tr>
                    </tbody>
                </table>


            </div>
            <div th:if="${productos == null or productos.empty}">
                <p>No ahi productos</p>
            </div>
        </div>

    </body>
</html>
